# Git
.git
.gitignore
.gitattributes

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Tests
/tests
/phpunit.xml

# Documentation
README.md
CHANGELOG.md
